<div class="container">
  <h1>Where do you want to eat today?</h1>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <% end %>
</div>
